.picker-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.picker-item > img {
    width: 100px;
    height: auto;
}

.picker-img {
    width: 100px;
    height: auto;
}

.selected {
    border: 1px solid black;
}