html, body {
  overflow: hidden;
  touch-action: none;
}
.canvas-element {
    display: block;
    width: 95%;
    margin: auto;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(26, 26, 26); /*Canvas element is transparent by default , fixes darkmode canvas*/
}

h3 {
    text-align: center;
} 

input {
    margin: 0.6em 1.2em;
}

.canvas-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}